.footer-contents{
  height: 10vh;
  border-top: 1px solid #dcdcdc;
  text-align: center;
  padding-top: 10px;
  color:gray;
  font-size: small;
}
@media screen and (max-width:480px){
  .footer-contents{
    height: 9vh;
    margin:0 ;
  }
}