.post-contents{
  background-color: #FFFFFF;
}

.form{
  padding:50px;
  background-color: #00CC99;
  height: 100vh;
}
.container {
  width:60%;
  margin-right: auto;
  margin-left: auto;
  text-align:center;
  background-color:#FAFAFA;
  box-shadow: 2px 2px 4px gray;
}

.post-contents{
  padding-bottom: 30px;
}

.head {
  background-color: #FFFFFF;
  color:#00CC99;
  padding-bottom: 20px;
}

h2 {
  text-align:center;
  padding:18px 0 18px 0;
  font-size: 1.4em;
  border-bottom: 1px solid #00CC99;
}

.dish {
  height:30px;
  width: 60%;
  background-color: #fafafafa;
  border-top: 1px solid #dbdbdb;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.dish:focus{
  outline: none;
}

.submit{
  margin-bottom: 25px;
}

.submit-btn {
  display: block;
  margin: 15px auto;
  background-color:#2ABCA7;
  padding: 12px 45px;

  border: 1px solid #2ABCA7;
  
  cursor: pointer;
  width:30%;
  color:#fff;
}
.submit-btn:hover{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

@media screen and (max-width:480px){
  .form{
    width: 100%;
    height: 70%;
  }

  .container{
    width: 100%;
  }
  .post-form{
    width: 100%;
  }
  .head{
    width: 100%;
  }
  .post-contents{
    width: 100%;
  }
  .submit-btn{
    width: 80%;
  }
}
