.simple-calendar {
  .day { 
    background-color: #FFFFFF;
  }
  .wday-0 {
    background-color: #FFFFFF;
  }
  .wday-1 {
    background-color: #FFFFFF;
  }
  .wday-2 {
    background-color: #FFFFFF;
  }
  .wday-3 {
    background-color: #FFFFFF;
  }
  .wday-4 {
    background-color: #FFFFFF;
  }
  .wday-5 {
    background-color: #FFFFFF;
  }
  .wday-6 {
    background-color: #FFFFFF;
  }

  .today {
  
  }
  .past {
    background-color: #F9F9FA;
  }
  .future {
    background-color: #F9F9FA;
  }

  .start-date {
    background-color:#F9F9FA;
  }

  .past.prev-month {
    background-image:
	  repeating-linear-gradient(-45deg,#F9F9FA, #F9F9FA 7px,transparent 0, transparent 14px);
  }
  .past.next-month {
    background-image:
	  repeating-linear-gradient(-45deg,#fff, #fff 7px,transparent 0, transparent 14px);
  }

  .next-month { 
    background-color:#F9F9FA;
  }
  .future.next-month {
    background-image:
	  repeating-linear-gradient(-45deg,#fff, #fff 7px,transparent 0, transparent 14px);
  }
  .future.prev-month {
    background-image:
	  repeating-linear-gradient(-45deg,#fff, #fff 7px,transparent 0, transparent 14px);
  }
  .has-events {}

  td{
    border-left-color: #f5f2f2;
  }
  margin-bottom: 10vh;
}



