.simple-calendar {
  .day { 
    
   }

  .wday-0 {
    background-color: #f5f2f2;
    
  }
  .wday-1 {
    background-color: #f5f2f2;
  
  }
  .wday-2 {
    background-color: #f5f2f2;
  }
  .wday-3 {
    background-color: #f5f2f2;
  }
  .wday-4 {
    background-color: #f5f2f2;
  }
  .wday-5 {
    background-color: #f5f2f2;
  }
  .wday-6 {
    background-color: #f5f2f2;
  }

  .today {
  
  }
  .past {
    background-color: #f5f2f2;
  }
  .future {
    background-color: #f5f2f2;
  }

  .start-date {}

  .past.prev-month {
    background-image:
	  repeating-linear-gradient(-45deg,#fff, #fff 7px,transparent 0, transparent 14px);
  }
  .next-month { }
  .current-month {}

  .has-events {}

  td{
    border-left-color: #f5f2f2;
  }
}

.user-calender{
  width:70%;

}

.mypage-contents{

  background-color: #00CC99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-dish{
  font-size: small;
  
}

.calendar-heading{
  background-color: #ffffff;
  text-align: space-between;
}
.calendar-title{
  font-size: 30px;
}
.calendar_room{
  background-color: blue;
}

