/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

/* ヘッダー */


.header{
  height: 40%;
}
.head-contents{
  height: 60%;
  width: 100%;
  background-color: #FFFFFF;
  color: #00CC99;
  display: flex;
  justify-content: space-between;
  
}

.header-logo{
  font-family: Montserrat;
}

.left-content{
  margin-left: 50px;
  padding: 2vh;
}

.right-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 50px;
}


.header-btn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  text-decoration: #00CC99;
  color: #00CC99;
}

.login{
  margin-left: 7px;
  border : 1px solid #00CC99;
  padding: 10px;
  background-color: #FFFFFF;
  color: #00CC99;
}
.login:hover{
  background-color: #00CC99;
  color:#FFFFFF;
}

.sign-up{
  border : 1px solid #00CC99;
  padding: 10px;
  background-color: #FFFFFF;
  color: #00CC99;
}
.sign-up:hover{
  background-color: #00CC99;
  color:#FFFFFF;
}

.logout{
  border : 1px solid #00CC99;
  padding: 10px;
  background-color: #FFFFFF;
  color: #00CC99;
}
.logout:hover{
  background-color: #00CC99;
  color:#FFFFFF;
}
.contents-body{
  height:100%;
  width:100%;
  /* background-image:url(images/food-366875.jpg); */
  background-size: contain;
  background-repeat:  repeat-x; 
  background-position:center center;          

}
.index{
  color: #00CC99;
  font-size: 30px;
  font-family: Montserrat;
}
.contents-show{
  margin: 0 50px 0 50px ;
  padding: 0 50px 0 50px;
  
}
.introduction{
  height: 50vh;
  padding: 0 50px 0 50px ;
  background-color: #00CC99;
  color: #FFFFFF;
  font-family: Montserrat;
}
.introduction-title {

  font-family: Montserrat;
  padding-top: 50px;
}


.contents{
  width: 60%;
  padding: 20px;
  /* border-top: double #00CC99 4px;/*上のボーダー*/
  /*border-bottom: double #00CC99 4px; */
  background-color: #f5f5f5;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px gray;
  
}

.user-name a {
  color:black;
}

.user-name{
  border-bottom: 1px solid #00CC99;
  margin-bottom: 10px;
}
.time{
  display: inline-block;
  color: gray;
}

.contents p {
  /* border:1px solid black; */
  margin:5px;
}

.contents-box{
  padding: 5px;
 /* border: 1px solid black;  */
  display: flex;
  flex-direction: column;
  align-items: center;

}

.contents-list{
  position: relative;
}

.contents-list::after{
  display: block;
  content: '';
  position: absolute;
  top: .5em;
  left: -1em;
  width: 6px;
  height: 6px;
  border-right: 1px solid #00CC99;
  border-bottom: 1px solid #00CC99;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
