
.main{
  height: 100vh;
  background-color: #00CC99;
}
.inner{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.form__wrapper{
  min-height: calc(100vh - 161px);
  background-color: #FFFFFF;
  padding: 30px;
  margin-top: 50px;
  box-shadow: 2px 2px 4px gray;
  padding: 50px;
}

.form-logo{
  text-align: center;
}
.page-heading{
  color:#00CC99;
  text-align: center;
  
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
  width: 100%;
  font-size: 12px;
}

.text_field{
  width: 100%;
  height: 4vh;
  background-color: #F8F8FF;
  border: 1px solid #DCDCDC;
}

.text_field:focus{
  outline: none;
}


.actions{
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background:  #00CC99;
  border: 1px  #00CC99 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  margin-top: 10px;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}


.to-registration{
  font-size: 12px;
}

.registration_btn{
  display: inline-block;
  justify-content: center;
  padding: 0.4em 1.6em;
  font-size: 0.7em;
  color: #00CC99;
  text-decoration: none;
  user-select: none;
  background:  #fff;
  border: 1px  #00CC99 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  margin-top: 10px;
}

.registration_btn:hover{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.new-registration{
  text-align: center;
}